@model Model.ArticleModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE BREADCRUMBS -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Article")">首页</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>文章详情</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMBS -->
<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="blog-page blog-content-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-single-content bordered blog-container">
                    <div class="blog-single-head">
                        <h1 class="blog-single-head-title">@Html.DisplayFor(model => model.title)</h1>
                        <div class="blog-single-head-date">
                            <div class="left lfooter mb20">
                                <span class="lbtn comment">@if (!string.IsNullOrEmpty(Model.source))
                                {
                                    <span>来源：</span>@Model.source
                                                           }</span><br />
                                <span class="lbtn comment"></span>
                                <span class="lbtn time" data-publishtime="1458871218">@{string pubTime = Model.pubTime.ToLocalTime().ToString();}@Html.DisplayFor(modelItem => pubTime)</span>
                            </div>
                        </div>
                    </div>
                    <div id="content" class="blog-single-desc">
                        @Html.Raw(Model.content)
                    </div>
                    <div class="blog-single-foot">
                        <ul class="blog-post-tags">
                            <li class="uppercase">
                                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                </div>
                                <script>
                                    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "32" }, "share": {}, "selectShare": { "bdContainerClass": null, "bdSelectMiniList": ["weixin", "qzone", "tsina"] } };
                                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                                </script>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-comments" id="wrapper" style="width: 100%;">
                        <h3 class="sbold blog-comments-title">评论 (<span id="total">0</span>)</h3>
                        <div>
                            <div class="form-group">
                                <textarea rows="8" name="message" id="comment" placeholder="填写评论..." class="form-control c-square"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" id="btn_save" class="btn blue uppercase btn-md sbold btn-block">发布评论</button>
                            </div>
                        </div>
                        <div class="c-comment-list" id="pagelet-nfeedlist">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->
<script src="~/assets/amazeui/js/handlebars.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/x-handlebars-template" id="tpi-list-item">
    {{#each this}}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" alt="" src="@Href("~/")assets/layouts/layout3/img/avatar.png">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="#">{{username}}</a>
                <span class="c-date">{{dateHelper createdAt}}</span>
            </h4> {{content}}
        </div>
    </div>
    {{/each}}
</script>
@{
    var id = ViewData["Id"];
    var jssdk = ViewData["jssdk"] as System.Collections.Hashtable;
    var flag = Session["account"] != null;
}
<script>
    (function($) {
        var eventsList = function(element, options) {
            var $main = $('#wrapper');
            var $list = $main.find('#pagelet-nfeedlist');
            var $total = $main.find('#total');

            this.compiler = Handlebars.compile($('#tpi-list-item').html());
            Handlebars.registerHelper("dateHelper", function (value) {
                var date = new Date(parseInt(value.replace("/Date(", "").replace(")/", "")));
                Date.prototype.format = function (format) {
                    var o = {
                        "M+": this.getMonth() + 1, //month
                        "d+": this.getDate(), //day
                        "h+": this.getHours(), //hour
                        "m+": this.getMinutes(), //minute
                        "s+": this.getSeconds(), //second
                        "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
                        "S": this.getMilliseconds() //millisecond
                    }

                    if (/(y+)/.test(format)) {
                        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                    }

                    for (var k in o) {
                        if (new RegExp("(" + k + ")").test(format)) {
                            format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                        }
                    }
                    return format;
                }
                return date.format("yyyy-MM-dd hh:mm:ss");
            });
            this.total = null;
            this.getURL = function() {
                return options.api;
            };
            this.renderList = function() {
                var _this = this;
                $.getJSON(this.URL).then(function(data) {
                    _this.total = data.total;
                    var html;
                    if (_this.total > 0) {
                        html = _this.compiler(data.list);
                    } else {
                        html = "<div class=\"media\">暂无评论</div>";
                    }
                    $list.html(html);
                    $total.text(_this.total);
                }, function() {
                    console.log('Error...');
                }).always(function() {
                });
            };
            $main.on("click", "#btn_save", function() {
                var content = $("#comment").val();
                if ($.trim(content) == "") {
                    alert("请输入评论！");
                    return;
                }
                if ("@flag" === "False") {
                    alert("请先登录后再评论！");
                } else {
                    var obj = new Object();
                    obj.content = content;
                    obj.rela_article = "@id";
                    $.post('/Article/Add', obj,
                    function (data) {
                        alert(data.message);
                        window.location = window.location;
                    }, "json");
                }

            });
            this.init = function () {
                this.URL = this.getURL();
                this.renderList();
            };
        };

        $(function () {
            var app = new eventsList(null, {
                api: '@Url.Action("GetCommentList", "Article")/@id'
            });
            app.init();
        });
    })(window.jQuery);
    var shareTitle = '@Model.title';
    var shareLink = 'http://www.aftop.cn/Article/Detail/@Model.id';
    var shareImg = function() {
        var imgs = '@Model.imgs';
        if (imgs !== "")
            return imgs.split(',')[0];
        return "http://www.aftop.cn/assets/layouts/layout3/img/logo-default.png";
    };
    var shareDesc = function() {
        var text = $.trim($("#content").text());
        if (text.length > 50)
            return text.substr(0, 50);
        return text;
    };
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '@jssdk["appId"].ToString()', // 必填，公众号的唯一标识
        timestamp: '@jssdk["timestamp"].ToString()', // 必填，生成签名的时间戳
        nonceStr: '@jssdk["nonceStr"].ToString()', // 必填，生成签名的随机串
        signature: '@jssdk["signature"].ToString()',// 必填，签名，见附录1
        jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ","onMenuShareWeibo","onMenuShareQZone"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    
    wx.ready(function () {
        wx.onMenuShareTimeline({
            title: shareTitle, // 分享标题
            link: shareLink, // 分享链接
            imgUrl: shareImg(), // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareAppMessage({
            title: shareTitle, // 分享标题
            desc: shareDesc(), // 分享描述
            link: shareLink, // 分享链接
            imgUrl: shareImg(), // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareQQ({
            title: shareTitle, // 分享标题
            desc: shareDesc(), // 分享描述
            link: shareLink, // 分享链接
            imgUrl: shareImg(), // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareWeibo({
            title: shareTitle, // 分享标题
            desc: shareDesc(), // 分享描述
            link: shareLink, // 分享链接
            imgUrl: shareImg(), // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
        wx.onMenuShareQZone({
            title: shareTitle, // 分享标题
            desc: shareDesc(), // 分享描述
            link: shareLink, // 分享链接
            imgUrl: shareImg(), // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
</script>