@model System.Collections.Generic.List<Model.ArticleModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #wrapper {
        top: 49px;
        bottom: 0;
        overflow: hidden;
        margin: 0;
        width: 100%;
        padding: 0 8px;
        background-color: #f8f8f8;
    }
    .pull-action {
        text-align: center;
        height: 45px;
        line-height: 45px;
        color: #999;
    }

    .pull-action .am-icon-spin {
        display: none;
    }

    .pull-action.loading .am-icon-spin {
        display: block;
    }

    .pull-action.loading .pull-label {
        display: none;
    }
</style>
<div><img id="advert-middle" src="" style="cursor: pointer;"></div>
<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="row mt15">
        <div class="col-md-9 col-sm-9">
            <div class="portlet light" id="wrapper">
                @*<div class="pull-action loading" id="pull-down">
                    <span class="am-icon-arrow-down pull-label"
                          id="pull-down-label">下拉刷新</span>
                    <span class="am-icon-spinner am-icon-spin"></span>
                </div>*@
                <div class="portlet-body" id="pagelet-nfeedlist">

                </div>
                <div class="pull-action" id="pull-up">
                    <span class="am-icon-arrow-down pull-label"
                          id="pull-up-label">点击加载更多</span>
                    <span class="am-icon-spinner am-icon-spin"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="portlet light" id="banner">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                </div>
            </div>
            <div class="">
                <div class="carousel slide" data-ride="carousel">
                    <img id="advert-right-first" src="" style="cursor: pointer;">
                </div>
            </div>
            <div class="">
                <div class="carousel slide" data-ride="carousel">
                    <img id="advert-right-second" src=""style="cursor: pointer;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->
@*<script src="~/assets/amazeui/js/jquery.min.js"></script>*@
<script src="~/assets/amazeui/js/handlebars.min.js"></script>
@{
    var id = @ViewData["Id"];
}
<script type="text/x-handlebars-template" id="tpi-list-item">
    {{#each this}}
    <div class="item-inner">
        <div class="lbox left">
            <a ga_event="click_feed_newsimg" href="@Url.Action("Detail", "Article")/{{id}}" target="_blank">
                <img class="feedimg" src="{{imgHelper imgs}}" onload="this.style.opacity = 1;" style="opacity: 1;">
            </a>
        </div>
        <div class="rbox">
            <div class="rbox-inner">
                <div class="title-box">
                    <a ga_event="click_feed_newstitle" class="link title" href="@Url.Action("Detail", "Article")/{{id}}" data-node="title">
                        {{title}}
                    </a>
                </div>
                <div class="abstract">
                    <a ga_event="click_feed_newsabstract" class="link" href="@Url.Action("Detail", "Article")/{{id}}">{{content}}</a>
                </div>
                <div class="footer">
                    <div class="left lfooter">
                        <span class="lbtn comment">{{source}}&nbsp;⋅</span>
    <span class="lbtn comment">{{commentCount}}评论&nbsp;⋅</span>
    <span class="lbtn time">{{dateHelper pubTime}}</span>
                    </div>
                    @*<div class="right rfooter">
                        <a class="feed_tools share rbtn" href="javascript:;" data-node="feed_share">
                            <div class="snsbox">
                                <div class="snsbox-inner">
                                    <span>分享到：</span>
                                    <div class="snszone" data-url="http://aftop.cn" data-text="新闻标题" data-desc="来自头条 http://aftop.cn" data-pic="" data-node="share">
                                        <i class="sns-btn sns-weixin" ga_event="click_share_interactive" ga_label="weixin" data-type="" title="分享到微信">
                                        </i>
                                        <i class="sns-btn sns-qzone" ga_event="click_share_interactive" ga_label="qzone" data-type="qzone" title="分享到QQ空间"></i>
                                        <i class="sns-btn sns-weibo" ga_event="click_share_interactive" ga_label="tsina" data-type="tsina" title="分享到新浪微博"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <span data-node="likeGroup" class="">
                            <a class="rbtn bury" href="javascript:;" title="不喜欢" data-node="close">
                            </a>
                            <a class="rbtn digg" href="javascript:;" title="喜欢" data-node="digg">
                            </a>
                        </span>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<script type="text/x-handlebars-template" id="banner-list">
    <!-- Indicators -->
    <ol class="carousel-indicators">        
        {{#each this}}
        <li data-target="#carousel-example-generic" data-slide-to="{{@@index}}" {{#if @@first}}class="active"{{/if}}></li>   
        {{/each}}
    </ol>    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">        
        {{#each this}}
        <div class="item{{#if @@first}} active{{/if}}">
            <img src="http://www.aftop.cn:8088/img/{{LargePicture}}">
            <div class="carousel-caption">
            </div>
        </div>   
        {{/each}}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</script>
<script src="~/assets/amazeui/js/amazeui.min.js"></script>
<script>
    (function($) {
        var EventsList = function(element, options) {
            var $main = $('#wrapper');
            var $list = $main.find('#pagelet-nfeedlist');
            //var $pullDown = $main.find('#pull-down');
            var $pullUp = $main.find('#pull-up');
            //var topOffset = -$pullDown.outerHeight();

            this.compiler = Handlebars.compile($('#tpi-list-item').html());
            Handlebars.registerHelper("imgHelper", function (value) {
                if (!value)
                    return "";
                var imgs = value.split(',');
                return imgs[0];
            });
            Handlebars.registerHelper("dateHelper", function (value) {
                var date = new Date(parseInt(value.replace("/Date(", "").replace(")/", "")));
                Date.prototype.format = function (format) {
                    var o = {
                        "M+": this.getMonth() + 1, //month
                        "d+": this.getDate(), //day
                        "h+": this.getHours(), //hour
                        "m+": this.getMinutes(), //minute
                        "s+": this.getSeconds(), //second
                        "q+": Math.floor((this.getMonth() + 3) / 3), //quarter
                        "S": this.getMilliseconds() //millisecond
                    }

                    if (/(y+)/.test(format)) {
                        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                    }

                    for (var k in o) {
                        if (new RegExp("(" + k + ")").test(format)) {
                            format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                        }
                    }
                    return format;
                }
                return date.format("MM-dd hh:mm");
            });
            this.prev = this.next = this.start = options.params.start;
            this.total = null;

            this.getURL = function(params) {
                var queries = [];
                for (var key in params) {
                    if (key !== 'start') {
                        queries.push(key + '=' + params[key]);
                    }
                }
                queries.push('page=');
                return options.api + '?' + queries.join('&');
            };

            this.renderList = function(start, type) {
                var _this = this;
                $.getJSON(this.URL + start).then(function(data) {
                    console.log(data);
                    _this.total = data.total;
                    var html = _this.compiler(data.list);
                    if (type === 'refresh') {
                        $list.children('li').first().before(html);
                    } else if (type === 'load') {
                        $list.append(html);
                    } else {
                        $list.html(html);
                    }
                }, function() {
                    console.log('Error...');
                }).always(function() {
                });
            };

            this.setLoading = function($el) {
                $el.addClass('loading');
            };

            this.resetLoading = function($el) {
                $el.removeClass('loading');
            };

            this.init = function() {
                var _this = this;

                this.URL = this.getURL(options.params);
                this.renderList(options.params.start);
                $pullUp.on("click", function () {
                    if (_this.next < _this.total) {
                        _this.next += 1;
                        _this.renderList(_this.next, 'load');
                    } else {
                        alert("没有更多了");
                    }
                });
            };
        };
        var Banner = function () {
            var $main = $('#banner');
            var $list = $main.find('#carousel-example-generic');

            this.compiler = Handlebars.compile($('#banner-list').html());
            this.getURL = function () {
                return '@Url.Action("GetBannerList", "Article")';
            };
            this.renderList = function (start, type) {
                var _this = this;
                $.getJSON(this.URL).then(function (data) {
                    console.log(data);
                    var html = _this.compiler(data.list);
                    $list.html(html);
                }, function () {
                    console.log('Error...');
                }).always(function () {
                });
            };

            this.init = function () {
                this.URL = this.getURL();
                this.renderList();
            };
        };
        var Advert = function () {
            this.getURL = function () {
                return '@Url.Action("GetAdvertList", "Article")';
            };
            this.renderList = function (start, type) {
                $.getJSON(this.URL).then(function (data) {
                    console.log(data);
                    var urlPre = "http://www.aftop.cn:8088/img/";
                    $.each(data.list,function(i, e) {
                        if (e.Type === 1) {
                            $("#advert-middle").attr("src", urlPre + e.LargePicture).click(function () {
                                window.open(e.Url,"_blank");
                            })
                        }
                        if (e.Type === 2) {
                            $("#advert-right-first").attr("src", urlPre + e.LargePicture).click(function() {
                                window.open(e.Url, "_blank");
                            }).parent().parent().addClass("portlet light");
                        }
                        if (e.Type === 3) {
                            $("#advert-right-second").attr("src", urlPre + e.LargePicture).click(function () {
                                window.open(e.Url, "_blank");
                            }).parent().parent().addClass("portlet light");
                        }
                    });
                }, function () {
                    console.log('Error...');
                }).always(function () {
                });
            };

            this.init = function () {
                this.URL = this.getURL();
                this.renderList();
            };
        };
        $(function() {
            var app = new EventsList(null, {
                api: '@Url.Action("GetList", "Article")/@id',
                params: {
                    start: 1,
                    type: 'music',
                    count: 10
                }
            });
            app.init();
            var banner = new Banner();
            banner.init();
            var advert = new Advert();
            advert.init();
        });
    })(window.jQuery);
</script>
